<!-- Tabla -->
<h1>Lista de productos:</h1>

<!-- Tabla -->
<div>
    <h2 style="color:crimson;">Productos<div class="table-responsive">
            <table class="table table-dark table-hover" id="tablaProductos">

                {{#each DB_products}}
                <tr>
                    <td>{{this.title}}: </td>
                    <td>$ {{this.price}}</td>
                    <td># {{this.code}}</td>
                    <td> <img width=50 src="{{this.thumbnail}}" alt=""> </img> </td>

                </tr>
                {{/each}}

            </table>
        </div>
    </h2>
</div>