<!-- Formulario -->
<div class="jumbotron">
        <h1 style="color:blue;">Ingrese datos</h1><br />
        <form action="javascript:addProduct()">
                <div class="form-group">
                        <label for="title">
                                <b>Title</b>
                        </label>
                        <input class="form-control" id="title" type="text" name="title" onchange="" />
                </div>

                <div class="form-group">
                        <label for="price"></label>
                        <b>price</b>
                        <input class="form-control" id="price" type="number" name="price" />
                </div>
                <div class="form-group">
                        <label for="code"></label>
                        <b>code</b>
                        <input class="form-control" id="code" type="text" name="code" />
                </div>
                <div class="form-group">
                        <label for="thumbnail"></label>
                        <b>Image</b>
                        <input class="form-control" id="thumbnail" type="text" name="thumbnail" />
                </div>
                {{!-- stock --}}
                <div class="form-group">
                        <label for="stock"></label>
                        <b>Stock</b>
                        <input class="form-control" id="stock" type="number" name="stock" />
                </div>
                {{!-- descripcion --}}
                <div class="form-group">
                        <label for="description">
                                <b>Description</b>
                        </label>
                        <input class="form-control" id="description" type="text" name="description" onchange="" />
                </div>
                <button class="btn btn-success mt-3 mb-5" onclick="addProduct()">Enviar</button>
        </form>
</div>

{{> productsTable/productsTable}}
{{!--
<script src="js/main.js"></script> --}}