<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
                integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
                crossorigin="anonymous">
        <title>{{titulo}}</title>
        <link rel="stylesheet" href="css/style.css">
</head>

<body>

        <!-- Formulario -->
        <div class="jumbotron">
                <h1 style="color:blue;">Ingrese datos</h1><br />
                <form action="javascript:addProduct()">
                        <div class="form-group">
                                <label for="title">
                                        <b>Title</b>
                                </label>
                                <input class="form-control" id="title" type="text" name="title" onchange="" />
                        </div>

                        <div class="form-group">
                                <label for="price"></label>
                                <b>price</b>
                                <input class="form-control" id="price" type="number" name="price" />
                        </div>
                        <div class="form-group">
                                <label for="code"></label>
                                <b>code</b>
                                <input class="form-control" id="code" type="text" name="code" />
                        </div>
                        <div class="form-group">
                                <label for="thumbnail"></label>
                                <b>Image</b>
                                <input class="form-control" id="thumbnail" type="text" name="thumbnail" />
                        </div>
                        <button class="btn btn-success mt-3 mb-5" onclick="addProduct()">Enviar</button>
                </form>
        </div>


        {{> productsTable/productsTable}}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"
                integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="js/main.js"></script>

</body>

</html>