<!-- Tabla -->
<div>
    <h2 style="color:crimson;">Productos<div class="table-responsive">
            <table class="table table-dark table-hover" id="tablaProductos"></table>
        </div>
    </h2>
</div>